hr.setting {
    border-top: 2px dashed black;
    background-color: transparent;
}

.boxInput {
    margin-top: 15px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid black;
    border-radius: 15px;
}

.boxResult {
    margin-top: 15px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* custom selectize css */
.selectize-control {
    margin-bottom: 0px;
}

/* tooltip text alignment */
.tooltip-inner {
    text-align: left !important;
}

/* mainClusterPlot note div style, copied from regl-scatterplot multi-instance example */
.mainClusterPlotNote {
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 0.5rem;
    transform: translate(-50%, 0);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    background: transparent;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 2px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
}

/* clusterPlot panel title div */
/* css style is from regl-scatterplot example */
.mainClusterPlotTitle {
    position: absolute;
    z-index: 2;
    top: 0.1rem;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 700;
    font-size: 1rem;
}


/* mainClusterPlot info */
#info {
    position: absolute;
    z-index: 1;
    bottom: 0.5rem;
    left: 0.5rem;
    width: 2rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    background-color: rgba(var(--bs-secondary-rgb), 0.9);
    border-radius: 0.2rem;
    transition: background 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#info:focus,
#info:focus-within {
    pointer-events: none;
    outline: none;
    color: #fff;
    width: 16rem;
}

#info-title {
    padding: 0;
    margin: 0;
    width: 1rem;
    font-size: 0.9rem;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#info-title:hover {
    font-weight: 700;
}

#info-title:before {
    content: 'i';
}

#info:focus #info-title,
#info:focus-within #info-title {
    color: #fff;
    padding-top: 0.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    width: 16rem;
}

#info:focus #info-title:before,
#info:focus-within #info-title:before {
    content: 'info';
    font-weight: 700;
}

#info-content {
    display: none;
}

#info:focus #info-content,
#info:focus-within #info-content {
    display: block;
    pointer-events: auto;
}


/* go back button style */
#goBack {
    position: absolute;
    z-index: 1;
    top: 0.5rem;
    left: 0.5rem;
    width: 2rem;
    height: 2rem;
    padding: 0.3rem;
    color: #fff;
    background-color: rgba(var(--bs-secondary-rgb), 0.9);
    border-radius: 0.2rem;
}


/* rewrite gap style in siderbar layout main */
.bslib-gap-spacing {
    gap: 0;
}


/* scatter plot legend css */
/* modified from broad single cell portal */
.scatter-legend {
    margin-bottom: 0.2rem;
    border: 1px solid #DDD;
    border-radius: 3px;
    align-items: bottom;
}

.scatter-legend-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0px;
    float: left;
    border-radius: 2px 0 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scatter-legend-entry {
    position: relative;
    display: flex;
    top: 5px;
    white-space: pre;
}

.scatter-legend-entry .legend-label {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 5px;
}

.scatter-legend-entry .num-points {
    margin-left: auto;
    margin-right: 5px;
}
